<template name="login">
  <div id="login" class="ui segment" style="padding-bottom:50px">
    {{#if error}}
      <div class="ui small error message">
        {{error}}
      </div>
    {{/if}}
    <div class="ui login-password form">

      <div class="field">
        <label> Username </label>
        <input type="text" id='username' placeholder="Username">
      </div>
      <div class="field">
        <label> Password </label>
        <input type="password" id='password' placeholder="Password">
      </div>
      <div class="field">
        <button id="login-password" class="fluid primary push button"> Login </button>
      </div>
    </div>

    {{#if enabled.github}}
    <br>
    <button id="login-github" class="fluid github push button"> Login with Github </button>
    {{/if}}

    <br>
    <!-- <div style="display:inline"> -->
        <a href="assets/Mentor_Edition.pdf" class="danger push button" style="float:left; text-align:center;" target="_blank">Mentor Help</a>
        <a href="assets/Hacker_Edition.pdf" class="danger push button" style="float:right; text-align:center;" target="_blank">Hacker Help</a>
    <!-- </div> -->
    {{#if enabled.facebook}}
    <br>
    <button id="login-facebook" class="fluid facebook push button"> Login with Facebook</button>
    {{/if}}
  </div>
</template>
